/* Creating a sprite from following images:
 *
 * test/images/irregular/irregular1.png (60x60)
 * test/images/irregular/irregular2.png (16x16)
 * test/images/irregular/irregular3.png (48x48)
 * test/images/irregular/irregular4.png (34x14)
 * test/images/irregular/irregular5.png (46x25)
 *
 * Output files:
 *   test/images/irregular.sassy.png
 *   test/images/irregular.sassy.sass
 *
 * Output size:
 *   204x60 */
img.sassy_irregular1 {
  width: 60px;
  height: 60px;
  background: url(irregular.sassy.png) 0px 0px no-repeat; }

img.sassy_irregular2 {
  width: 16px;
  height: 16px;
  background: url(irregular.sassy.png) -60px -22px no-repeat; }

img.sassy_irregular3 {
  width: 48px;
  height: 48px;
  background: url(irregular.sassy.png) -76px -6px no-repeat; }

img.sassy_irregular4 {
  width: 34px;
  height: 14px;
  background: url(irregular.sassy.png) -124px -23px no-repeat; }

img.sassy_irregular5 {
  width: 46px;
  height: 25px;
  background: url(irregular.sassy.png) -158px -17px no-repeat; }
