/*

        Creating a sprite from following images:
        
        test/images/irregular/irregular1.png (60x60)
        test/images/irregular/irregular3.png (48x48)
        test/images/irregular/irregular5.png (46x25)
        test/images/irregular/irregular4.png (34x14)
        test/images/irregular/irregular2.png (16x16)

        Output files:
          test/images/irregular.packed.png
          test/images/irregular.packed.css

        Output size:
          244x165


*/
img.packed_irregular1 { width: 80px; height: 80px; background: url(irregular.packed.png) -10px -10px no-repeat; }
img.packed_irregular3 { width: 68px; height: 68px; background: url(irregular.packed.png) -110px -10px no-repeat; }
img.packed_irregular5 { width: 66px; height: 45px; background: url(irregular.packed.png) -10px -110px no-repeat; }
img.packed_irregular4 { width: 54px; height: 34px; background: url(irregular.packed.png) -96px -110px no-repeat; }
img.packed_irregular2 { width: 36px; height: 36px; background: url(irregular.packed.png) -198px -10px no-repeat; }
