/*

        Creating a sprite from following images:
        
        test/images/irregular/irregular1.png (60x60)
        test/images/irregular/irregular2.png (16x16)
        test/images/irregular/irregular3.png (48x48)
        test/images/irregular/irregular4.png (34x14)
        test/images/irregular/irregular5.png (46x25)

        Output files:
          test/images/irregular.vertical.png
          test/images/irregular.vertical.css

        Output size:
          60x163


*/
img.vertical_irregular1 { width: 60px; height: 60px; background: url(irregular.vertical.png) 0px 0px no-repeat; }
img.vertical_irregular2 { width: 16px; height: 16px; background: url(irregular.vertical.png) -22px -60px no-repeat; }
img.vertical_irregular3 { width: 48px; height: 48px; background: url(irregular.vertical.png) -6px -76px no-repeat; }
img.vertical_irregular4 { width: 34px; height: 14px; background: url(irregular.vertical.png) -13px -124px no-repeat; }
img.vertical_irregular5 { width: 46px; height: 25px; background: url(irregular.vertical.png) -7px -138px no-repeat; }
