/*

        Creating a sprite from following images:
        
        test/images/regular/regular1.PNG (64x64)
        test/images/regular/regular2.PNG (64x64)
        test/images/regular/regular3.PNG (64x64)
        test/images/regular/regular4.PNG (64x64)
        test/images/regular/regular5.PNG (64x64)

        Output files:
          test/images/regular.horizontal.png
          test/images/regular.horizontal.css

        Output size:
          320x64


*/
img.horizontal_regular1 { width: 64px; height: 64px; background: url(regular.horizontal.png) 0px 0px no-repeat; }
img.horizontal_regular2 { width: 64px; height: 64px; background: url(regular.horizontal.png) -64px 0px no-repeat; }
img.horizontal_regular3 { width: 64px; height: 64px; background: url(regular.horizontal.png) -128px 0px no-repeat; }
img.horizontal_regular4 { width: 64px; height: 64px; background: url(regular.horizontal.png) -192px 0px no-repeat; }
img.horizontal_regular5 { width: 64px; height: 64px; background: url(regular.horizontal.png) -256px 0px no-repeat; }
