/*

        Creating a sprite from following images:
        
        test/images/regular/regular1.PNG (64x64)
        test/images/regular/regular2.PNG (64x64)
        test/images/regular/regular3.PNG (64x64)
        test/images/regular/regular4.PNG (64x64)
        test/images/regular/regular5.PNG (64x64)

        Output files:
          test/images/regular.packed.png
          test/images/regular.packed.css

        Output size:
          312x208


*/
img.packed_regular1 { width: 84px; height: 84px; background: url(regular.packed.png) -10px -10px no-repeat; }
img.packed_regular2 { width: 84px; height: 84px; background: url(regular.packed.png) -114px -10px no-repeat; }
img.packed_regular3 { width: 84px; height: 84px; background: url(regular.packed.png) -10px -114px no-repeat; }
img.packed_regular4 { width: 84px; height: 84px; background: url(regular.packed.png) -114px -114px no-repeat; }
img.packed_regular5 { width: 84px; height: 84px; background: url(regular.packed.png) -218px -10px no-repeat; }
