/*

        Creating a sprite from following images:
        
        test/images/regular/regular1.png (64x64)
        test/images/regular/regular2.png (64x64)
        test/images/regular/regular3.png (64x64)
        test/images/regular/regular4.png (64x64)
        test/images/regular/regular5.png (64x64)

        Output files:
          test/images/regular.png
          test/images/regular.css

        Output size:
          320x64


*/
img.regular1 { width: 64px; height: 64px; background: url(regular.png) 0px 0px no-repeat; }
img.regular2 { width: 64px; height: 64px; background: url(regular.png) -64px 0px no-repeat; }
img.regular3 { width: 64px; height: 64px; background: url(regular.png) -128px 0px no-repeat; }
img.regular4 { width: 64px; height: 64px; background: url(regular.png) -192px 0px no-repeat; }
img.regular5 { width: 64px; height: 64px; background: url(regular.png) -256px 0px no-repeat; }
